{
    "Global": {
        "history max count": "50",
        "autosave interval in min.(set 0 for disable)": "10"
    },
    "Scene Manager": "",
    "Viewport": {
        "viewport color": "255 255 255 -1",
        "show viewport grid": "0",
        "left mouse move viewport": "0"
    },
    "Render View": {
        "background color": "190 250 190 -1"
    },
    "Text View": "",
    "Diagram View": "",
    "Parameter Editor": "",
    "Node Editor": {
        "viewport color": "90 90 90 -1",
        "note font size": "22",
        "note text color": "255 255 255 -1",
        "left mouse move viewport": "0"
    }
}